@media screen and (max-width: 800px) {
  .navbar-main {
    flex-direction: column;
    align-items: center;
  }
  .navbar-main > div {
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 500px) {
  .nav-hamburger-menu {
    display: block;
    color: white;
  }

  .navbar-container {
    display: none;
  }

  .navbar-main {
    flex-direction: row;
  }
}
